controlPagos.html
{
  "nodes": [
    {
      "parameters": {
        "path": "ht-auth",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "aad55678-d326-4021-8b5b-6cbd9ee60e6e",
      "name": "WH-Auth",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        5568
      ],
      "webhookId": "2990d11f-0cce-4b22-89b9-381101fb2810"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, rol, nombre FROM ht_users WHERE nfc_uid = '{{$json.query.nfc_uid}}'",
        "additionalFields": {}
      },
      "id": "13e7b903-54f1-45aa-b0c5-436c8a7e5daf",
      "name": "Supabase-PIN",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        5568
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\n      try {\n        const items = $items(\"Supabase-PIN\");\n        if (items && items.length > 0 && items[0].json && items[0].json.rol) {\n          const u = items[0].json;\n          return [{json: {status: \"success\", rol: u.rol, nombre: u.nombre, id: u.id}}];\n        } else {\n          return [{json: {status: \"error\"}}];\n        }\n      } catch (e) {\n        return [{json: {status: \"error\"}}];\n      }\n    "
      },
      "id": "65279446-7859-4feb-adab-a0ec09e505a3",
      "name": "Check PIN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        14016,
        5568
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5457e177-96db-48de-99be-3ce2c56ab121",
      "name": "Res-Auth",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14224,
        5568
      ]
    },
    {
      "parameters": {
        "path": "ht-categories",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "c56e69f8-eb69-45c7-b77e-ea3947880226",
      "name": "WH-Categories",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        5776
      ],
      "webhookId": "8220bbc2-e7ba-40f2-9b22-0bc99f390065"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT coalesce(json_agg(t), '[]'::json) FROM (SELECT id, nombre FROM categorias) t) as categorias, (SELECT coalesce(json_agg(t), '[]'::json) FROM (SELECT id, nombre FROM alumnos) t) as alumnos, (SELECT coalesce(json_agg(t), '[]'::json) FROM (SELECT id, nombre FROM ht_users WHERE rol='padre') t) as padres",
        "additionalFields": {}
      },
      "id": "6d85ac4e-9059-437c-a4a1-41e622203ced",
      "name": "Supabase-Cat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        5776
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT coalesce(json_agg(t), '[]'::json) as data FROM (SELECT id, nombre FROM alumnos) t",
        "additionalFields": {}
      },
      "id": "3ea7da64-b66b-4d62-8c13-aa0eb0bcf502",
      "name": "Supabase-Stu",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        14016,
        5776
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\n      try {\n        const row = $items(\"Supabase-Cat\")[0].json;\n        return [{json: {status: \"success\", categorias: row.categorias, alumnos: row.alumnos, padres: row.padres}}];\n      } catch (e) {\n        return [{json: {status: \"error\"}}];\n      }\n    "
      },
      "id": "f40f406b-e88a-488e-b63e-bccdcd214854",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        14224,
        5776
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "55eed2ab-1ef9-4aee-a591-264dcf69a848",
      "name": "Res-Cat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14416,
        5776
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ht-register",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "9ccaf34b-7619-4981-be49-4562c196dfdd",
      "name": "WH-Register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        5968
      ],
      "webhookId": "4cb8c59f-a1e1-4459-b611-046909266b9f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alumnos (nfc_uid, nombre, edad, fecha_nacimiento, categoria_id, tipo_sangre, padre_id, contacto_emergencia_nombre, contacto_emergencia_telefono, costo_mensualidad) VALUES ('{{$json.body.nfc_uid}}', '{{$json.body.nombre}}', {{$json.body.edad}}, {{ $json.body.fecha_nacimiento ? \"'\"+$json.body.fecha_nacimiento+\"'\" : 'NULL' }}, '{{$json.body.categoria_id}}', '{{$json.body.tipo_sangre}}', {{ $json.body.padre_id ? \"'\"+$json.body.padre_id+\"'\" : 'NULL' }}, '{{$json.body.contacto_emergencia_nombre}}', '{{$json.body.contacto_emergencia_tel}}', 0) RETURNING 'success' as status;",
        "additionalFields": {}
      },
      "id": "d1dd7515-99a6-4e74-bcdc-f1ee4f12905b",
      "name": "Supabase-Reg",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        5968
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n  const items = $input.all();\n  if (items.length === 0 || !items[0].json.status) {\n    let msg = 'Error interno o falta de datos.';\n    try {\n      const err = $('Supabase-Reg').error;\n      if (err && err.message.includes('duplicate key')) msg = '⚠️ La pulsera ingresada ya está asignada a otro alumno.';\n      else if (err) msg = err.message;\n    } catch(e) {}\n    return [{json: {status: 'error', message: msg}}];\n  }\n  return [{json: {status: 'success'}}];\n} catch (e) {\n  return [{json: {status: 'error', message: 'Ocurrió un error general.'}}];\n}"
      },
      "id": "05c78e56-a2cf-40a7-8aad-b36af1c7e6d7",
      "name": "Check Reg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        14016,
        5968
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "bc0d91ad-2044-44f8-a9c9-6ad8a392cef3",
      "name": "Res-Reg",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14224,
        5968
      ]
    },
    {
      "parameters": {
        "path": "ht-access",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "949773e7-5571-4c54-9bdb-57f1b01475bf",
      "name": "WH-Access",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        6176
      ],
      "webhookId": "0e0806e8-000e-4f74-898a-84ce1921b898"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nombre, (SELECT json_build_object('nombre', categorias.nombre) FROM categorias WHERE id = alumnos.categoria_id) as categorias FROM alumnos WHERE nfc_uid = '{{$json.query.nfc_uid}}'",
        "additionalFields": {}
      },
      "id": "80299fe2-442c-4572-8bc8-85600b1ac668",
      "name": "Supabase-Acc",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        6176
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT coalesce(json_agg(t), '[]'::json) as data FROM (SELECT mes, anio FROM pagos WHERE alumno_id = '{{$json.id}}') t",
        "additionalFields": {}
      },
      "id": "1da86551-c3db-4c81-9eb7-17d83e5597fb",
      "name": "Supabase-Pay",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        14016,
        6176
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT coalesce((SELECT valor FROM configuracion WHERE clave = 'limite_pago'), '5') as valor",
        "additionalFields": {}
      },
      "id": "ba08b54b-2bbb-4aec-a089-fd8992807811",
      "name": "Supabase-Lim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        14224,
        6176
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n    const accItems = $items(\"Supabase-Acc\") || [];\n    if (accItems.length === 0 || !accItems[0].json || !accItems[0].json.id) {\n        return [{json: {status: \"not_found\"}}];\n    }\n    const alumno = accItems[0].json;\n    \n    let pagos = [];\n    try {\n        pagos = $items(\"Supabase-Pay\")[0].json.data || [];\n    } catch(e) {}\n    \n    let lim_pago = 5;\n    try {\n        const limItems = $items(\"Supabase-Lim\") || [];\n        if(limItems.length > 0 && limItems[0].json && limItems[0].json.valor) lim_pago = parseInt(limItems[0].json.valor);\n    } catch(e) {}\n\n    const hoy = new Date();\n    const currMonth = hoy.getMonth() + 1;\n    const currYear = hoy.getFullYear();\n    const pagoMes = pagos.find(p => p.mes === currMonth && p.anio === currYear);\n    \n    let al_corriente = false;\n    let motivo = \"\";\n    \n    if (pagos.length === 0) {\n        // Nunca ha realizado un pago (asegura que el primer pago de inscripción sea obligatorio antes del acceso)\n        al_corriente = false;\n        motivo = \"No hay ningún pago registrado. Debe pagar su mensualidad.\";\n    } else {\n        if(pagoMes) {\n            al_corriente = true;\n        } else {\n            if(hoy.getDate() <= lim_pago) {\n                al_corriente = true; // en periodo de gracia\n            } else {\n                motivo = \"Mes de cobro vencido y límite excedido.\";\n            }\n        }\n    }\n\n    return [{json: {\n        status: \"success\",\n        nombre: alumno.nombre,\n        categoria: (alumno.categorias && typeof alumno.categorias === 'object') ? alumno.categorias.nombre : \"N/A\",\n        al_corriente: al_corriente,\n        motivo: motivo\n    }}];\n} catch(e) {\n    return [{json: {status: \"not_found\", error: e.message}}];\n}\n"
      },
      "id": "25db175b-7491-4878-bc27-0222c5a68884",
      "name": "Access Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        14416,
        6176
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "30533feb-0f47-4dd4-89c9-17991540ddbc",
      "name": "Res-Acc",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14624,
        6176
      ]
    },
    {
      "parameters": {
        "path": "ht-get-payment",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "cd52ea09-bc2c-4bce-8f52-e5ef7907a979",
      "name": "WH-GetPay",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        6368
      ],
      "webhookId": "686adaf5-78cd-4821-b2c7-55154c092c99"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.nombre, a.padre_id, COALESCE((SELECT p.costo_mensual FROM ht_paquetes_precio p WHERE p.cantidad_hijos = (SELECT LEAST(COUNT(*), 3)::int FROM alumnos a2 WHERE a2.padre_id = a.padre_id)), (SELECT costo_mensual FROM ht_paquetes_precio WHERE cantidad_hijos = 1)) as costo_mensualidad FROM alumnos a WHERE a.nfc_uid = '{{$json.query.nfc_uid}}'",
        "additionalFields": {}
      },
      "id": "e403af83-9a7b-4d71-bf78-b01a859b1b49",
      "name": "Supabase-GPay",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        6368
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT coalesce(json_agg(t), '[]'::json) as data FROM (SELECT mes, anio, monto, fecha_pago FROM pagos WHERE alumno_id = '{{$json.id}}' ORDER BY anio DESC, mes DESC) t",
        "additionalFields": {}
      },
      "id": "3a0b1520-581d-4b67-ad7f-bb459b1b9068",
      "name": "Supabase-GPay2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        14016,
        6368
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n    const accItems = $items(\"Supabase-GPay\") || [];\n    if (accItems.length === 0 || !accItems[0].json || !accItems[0].json.id) {\n        return [{json: {status: \"not_found\"}}];\n    }\n    const alumno = accItems[0].json;\n    \n    let pagos = [];\n    try {\n        pagos = $items(\"Supabase-GPay2\")[0].json.data || [];\n    } catch(e) {}\n    \n    const hoy = new Date();\n    const currMonth = hoy.getMonth() + 1;\n    const currYear = hoy.getFullYear();\n    const pagoMes = pagos.find(p => p.mes === currMonth && p.anio === currYear);\n    return [{json: {\n        status: \"success\",\n        nombre: alumno.nombre,\n        alumno_id: alumno.id,\n        costo_mensualidad: alumno.costo_mensualidad,\n        mes_cobro: currMonth,\n        anio_cobro: currYear,\n        ya_pagado: !!pagoMes,\n        pagos: pagos\n    }}];\n} catch(e) {\n    return [{json: {status: \"not_found\"}}];\n}\n"
      },
      "id": "f904ad6e-529e-40ad-8ce1-d45eedaa8d22",
      "name": "Logic GPay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        14224,
        6368
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "85e18f8a-f956-469d-b66e-2a01999ddf09",
      "name": "Res-GPay",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14416,
        6368
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ht-execute-pay",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "f291b43b-a826-4290-80e3-e834fdabe685",
      "name": "WH-EPay",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        6576
      ],
      "webhookId": "ec291e32-2b8e-4c1a-ba4e-2f0e79c3b126"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pagos (alumno_id, monto, mes, anio) SELECT '{{$json.body.alumno_id}}', {{$json.body.monto}} / {{$json.body.modalidad || '1'}}, (( {{$json.body.mes}} - 1 + i ) % 12) + 1, {{$json.body.anio}} + (( {{$json.body.mes}} - 1 + i ) / 12) FROM generate_series(0, {{$json.body.modalidad || '1'}}::int - 1) as i RETURNING 'success' as status;",
        "additionalFields": {}
      },
      "id": "1f3415c3-cb32-450c-8cfc-5550e53b0743",
      "name": "Supabase-EPay",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        6576
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n  const items = $input.all();\n  if (items.length === 0 || !items[0].json.status) {\n    let msg = 'No se pudo procesar el pago. Por favor intenta de nuevo.';\n    try {\n      const err = $('Supabase-EPay').error;\n      if (err) msg = '⚠️ Error en base de datos: ' + err.message;\n    } catch(e) {}\n    return [{json: {status: 'error', message: msg}}];\n  }\n  return [{json: {status: 'success'}}];\n} catch (e) {\n  return [{json: {status: 'error', message: 'Fallo crítico al aplicar el pago.'}}];\n}"
      },
      "id": "150a09a2-c064-4a3f-83a4-c76c7efd89cd",
      "name": "Check Epay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        14016,
        6576
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5e9bff97-9597-4543-929f-8097a0828be7",
      "name": "Res-EPay",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14224,
        6576
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ht-reassign",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "e66f8241-9353-4f52-ade6-20c536a3d93e",
      "name": "WH-Reas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        6768
      ],
      "webhookId": "5ff0c7c9-d9f4-4f91-bef9-72c2d116cdfe"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE alumnos SET nfc_uid = '{{$json.body.nfc_uid}}' WHERE id = '{{$json.body.alumno_id}}' RETURNING 'success' as status;",
        "additionalFields": {}
      },
      "id": "67180c0d-8f14-40e3-a736-d940266202c4",
      "name": "Supabase-Reas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        6768
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n  const items = $input.all();\n  if (items.length === 0 || !items[0].json.status) {\n    let msg = 'No se pudo generar la baja/reasignación.';\n    try {\n      const err = $('Supabase-Reas').error;\n      if (err && err.message.includes('duplicate key')) msg = '⚠️ Esta nueva pulsera YA está en uso por otra persona.';\n      else if (err) msg = err.message;\n    } catch(e) {}\n    return [{json: {status: 'error', message: msg}}];\n  }\n  return [{json: {status: 'success'}}];\n} catch (e) {\n  return [{json: {status: 'error', message: 'Fallo al procesar reasignación.'}}];\n}"
      },
      "id": "40d7eb5c-c8a4-4600-abf3-12ac76c8b72f",
      "name": "Check Reas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        14016,
        6768
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "0f82bf00-598e-4ef9-b0f2-93dffe94ceca",
      "name": "Res-Reas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14224,
        6768
      ]
    },
    {
      "id": "baja-zvh0vfi0a",
      "name": "WH-Baja",
      "type": "n8n-nodes-base.webhook",
      "position": [
        13616,
        6950
      ],
      "disabled": false,
      "parameters": {
        "httpMethod": "POST",
        "path": "ht-baja",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      }
    },
    {
      "id": "baja-hfyteutq5",
      "name": "Supabase-Baja",
      "type": "n8n-nodes-base.postgres",
      "position": [
        13824,
        6950
      ],
      "disabled": false,
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM alumnos WHERE id = '{{$json.body.alumno_id}}' RETURNING 'success' as status;",
        "additionalFields": {}
      },
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "baja-obtrgg0ro",
      "name": "Check Baja",
      "type": "n8n-nodes-base.code",
      "position": [
        14016,
        6950
      ],
      "disabled": false,
      "typeVersion": 2,
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\ntry {\n  const items = $input.all();\n  if (items.length === 0 || !items[0].json.status) {\n    let msg = '❌ El alumno no se pudo encontrar o ya fue dado de baja.';\n    try {\n      const err = $('Supabase-Baja').error;\n      if (err) msg = '⚠️ Error al dar de baja: ' + err.message;\n    } catch(e) {}\n    return [{json: {status: 'error', message: msg}}];\n  }\n  return [{json: {status: 'success'}}];\n} catch (e) {\n  return [{json: {status: 'error', message: 'Error interno en la eliminación del alumno.'}}];\n}"
      }
    },
    {
      "id": "baja-u0iz8nyqr",
      "name": "Res-Baja",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        14224,
        6950
      ],
      "disabled": false,
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ht-register-user",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "reg-usr-wh",
      "name": "WH-Reg-User",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        7150
      ],
      "webhookId": "wh-reg-usr-uuid-id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted_user AS (INSERT INTO ht_users (nombre, rol, nfc_uid) VALUES ('{{$json.body.nombre}}', '{{$json.body.rol}}', UPPER('{{$json.body.nfc_uid}}')) RETURNING id), do_update AS (UPDATE alumnos SET padre_id = (SELECT id FROM inserted_user) WHERE id::text = ANY (string_to_array('{{($json.body.hijos_ids && $json.body.hijos_ids.length > 0) ? $json.body.hijos_ids.join(\",\") : \"\"}}', ',')) RETURNING id) SELECT 'success' as status FROM inserted_user",
        "additionalFields": {}
      },
      "id": "reg-usr-pg",
      "name": "Supabase-Reg-User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        7150
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n  const items = $input.all();\n  if (items.length === 0 || !items[0].json.status) {\n    let msg = 'Error en base de datos. Referencia vacía.';\n    try {\n      const err = $('Supabase-Reg-User').error;\n      if (err && err.message.includes('duplicate key')) msg = '⚠️ Esta pulsera ya pertenece a otro Usuario/Instructor/Padre.';\n      else if (err) msg = err.message;\n    } catch(e) {}\n    return [{json: {status: 'error', message: msg}}];\n  }\n  return [{json: {status: 'success'}}];\n} catch (e) {\n  return [{json: {status: 'error', message: 'Ocurrió un error al registrar usuario.'}}];\n}"
      },
      "id": "reg-usr-code",
      "name": "Check-Reg-User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        14016,
        7150
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "reg-usr-res",
      "name": "Res-Reg-User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14224,
        7150
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ht-baja-user",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "baja-usr-wh",
      "name": "WH-Baja-User",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        13616,
        7350
      ],
      "webhookId": "wh-baja-usr-uuid-id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH del_alumnos AS (DELETE FROM alumnos WHERE nfc_uid = '{{$json.body.nfc_uid}}' RETURNING id), del_users AS (DELETE FROM ht_users WHERE nfc_uid = '{{$json.body.nfc_uid}}' RETURNING id) SELECT (SELECT count(*) FROM del_alumnos) as alumnos_deleted, (SELECT count(*) FROM del_users) as users_deleted;",
        "additionalFields": {}
      },
      "id": "baja-usr-pg",
      "name": "Supabase-Baja-User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        13824,
        7350
      ],
      "credentials": {
        "postgres": {
          "id": "yhThMhTjR1LKUhsA",
          "name": "Postgres controlPagos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "\ntry {\n  const items = $input.all();\n  if (items.length === 0) {\n      return [{json: {status: 'error', message: 'Respuesta vacía de la base de datos.'}}];\n  }\n  const res = items[0].json;\n  \n  try {\n      const err = $('Supabase-Baja-User').error;\n      if (err) return [{json: {status: 'error', message: '⚠️ Error base de datos: ' + err.message}}];\n  } catch(e) {}\n  \n  if (res.alumnos_deleted > 0 || res.users_deleted > 0) {\n      return [{json: {status: 'success', message: 'Registro eliminado correctamente.'}}];\n  } else {\n      return [{json: {status: 'error', message: '❌ Esta pulsera NO pertenece a ningún usuario o alumno registrado.'}}];\n  }\n} catch (e) {\n  return [{json: {status: 'error', message: 'Fallo crítico al eliminar.'}}];\n}"
      },
      "id": "baja-usr-code",
      "name": "Check-Baja-User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14016,
        7350
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "baja-usr-res",
      "name": "Res-Baja-User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14224,
        7350
      ]
    }
  ],
  "connections": {
    "WH-Auth": {
      "main": [
        [
          {
            "node": "Supabase-PIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-PIN": {
      "main": [
        [
          {
            "node": "Check PIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PIN": {
      "main": [
        [
          {
            "node": "Res-Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-Categories": {
      "main": [
        [
          {
            "node": "Supabase-Cat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Cat": {
      "main": [
        [
          {
            "node": "Supabase-Stu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Stu": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Res-Cat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-Register": {
      "main": [
        [
          {
            "node": "Supabase-Reg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Reg": {
      "main": [
        [
          {
            "node": "Check Reg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reg": {
      "main": [
        [
          {
            "node": "Res-Reg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-Access": {
      "main": [
        [
          {
            "node": "Supabase-Acc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Acc": {
      "main": [
        [
          {
            "node": "Supabase-Pay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Pay": {
      "main": [
        [
          {
            "node": "Supabase-Lim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Lim": {
      "main": [
        [
          {
            "node": "Access Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Logic": {
      "main": [
        [
          {
            "node": "Res-Acc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-GetPay": {
      "main": [
        [
          {
            "node": "Supabase-GPay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-GPay": {
      "main": [
        [
          {
            "node": "Supabase-GPay2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-GPay2": {
      "main": [
        [
          {
            "node": "Logic GPay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic GPay": {
      "main": [
        [
          {
            "node": "Res-GPay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-EPay": {
      "main": [
        [
          {
            "node": "Supabase-EPay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-EPay": {
      "main": [
        [
          {
            "node": "Check Epay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Epay": {
      "main": [
        [
          {
            "node": "Res-EPay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-Reas": {
      "main": [
        [
          {
            "node": "Supabase-Reas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Reas": {
      "main": [
        [
          {
            "node": "Check Reas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reas": {
      "main": [
        [
          {
            "node": "Res-Reas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-Baja": {
      "main": [
        [
          {
            "node": "Supabase-Baja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Baja": {
      "main": [
        [
          {
            "node": "Check Baja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Baja": {
      "main": [
        [
          {
            "node": "Res-Baja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-Reg-User": {
      "main": [
        [
          {
            "node": "Supabase-Reg-User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Reg-User": {
      "main": [
        [
          {
            "node": "Check-Reg-User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-Reg-User": {
      "main": [
        [
          {
            "node": "Res-Reg-User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH-Baja-User": {
      "main": [
        [
          {
            "node": "Supabase-Baja-User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase-Baja-User": {
      "main": [
        [
          {
            "node": "Check-Baja-User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-Baja-User": {
      "main": [
        [
          {
            "node": "Res-Baja-User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9a5039a75a852013176bc7ed07f488bdde5b0fcfc20ff5fb52ff34272c3ba3c"
  }
}
